
$doorLeftSize:70%;
$doorRightSize:30%;

.w_door{
    display:inline-block;
   
}

.w_login{
    overflow: hidden;
    display: flex;
    z-index: 1000;
    position: fixed;
    width: 100%;
    visibility:hidden;
    transition: all 0.35s;
    top:0;
}

.w_login_left_door{
    width:$doorLeftSize;
    height:100vh;
    background-color:skyblue;
    // left:-$doorLeftSize;
    transition: all .7s;
    text-align:center;
    justify-content:center;
    transform: translateX(-100%);
    display:flex;
    img{
        width:378px; 
        position: absolute;
        top:50%;
        margin-top:-85px;
    }
    .w_login_mask{
        width:100%;
        height:100vh;
        background-color:black;
        opacity: .5;
        padding-top:50%;
    }
}

.w_login_right_door{

    width:$doorRightSize;
    height:100vh;
    background-color:#FFF;
    right:0;
    transition: all .7s;
    display: flex;
    flex-direction:column;
    transform: translateX(100%);
}

.w_door_close_button{

    height:50px;
    text-align: right;
    padding:30px;
    i{
        display:inline-block;
        font-size:30px;
        
    }
}

.w_login_all{
    width:410px;
    // height:589px;
    // background-color:plum;
    margin:127px 70px;
}

.w_login_all_title{
    font-size:42px;
    font-weight:900;
    p{
        margin-top:0;
        margin-bottom:0;
    }
}

.w_login_all_email,.w_login_all_password{
    input{
        border:0;
        width:376px;
        height:50px;
        margin-top:55px;
        border-left:10px solid #e1e1e1;
        border-bottom:1px solid #e1e1e1;
        padding-left:24px;
        font-size:20px;

    }
    input:hover{
        border-left:10px solid #000000;
        border-bottom:1px solid #000000;
    }
}



.w_login_all_foget{
    margin-top:120px;
    text-align:right;
}

.w_login_all_button{
    justify-content:space-between;
    margin-top:24px;
    button{
        font-size:28px;
        font-weight:bold;
        color:#ffffff;
        border:0;
        width:200px;
        height:60px;
        background-color:#000000;
        cursor: pointer;
    }
}

.w_door_appear{
    visibility:visible;
}


@media screen and (max-width: 375px){
    $doorLeftSize:0%;
    $doorRightSize:100%;

.w_door{
    display:inline-block;
   
}

.w_login{
    overflow: hidden;
    display: flex;
    z-index: 1000;
    position: fixed;
    width: 100%;
    visibility:hidden;
    transition: all 0.35s;
    top: 0;
}

.w_login_left_door{
    width:$doorLeftSize;
    height:100vh;
    background-color:skyblue;
    // left:-$doorLeftSize;
    transition: all .7s;
    text-align:center;
    justify-content:center;
    transform: translateX(-100%);
    display:flex;
    img{
        width:378px; 
    }
}
.w_login_right_door{

    width:$doorRightSize;
    height:100vh;
    background-color:#FFF;
    right:0;
    transition: all .7s;
    display: flex;
    flex-direction:column;
    transform: translateX(100%);
}
.w_door_close_button{
    width: 347px;
    height:50px;
    text-align: right;
    padding:10px 0 0 0;
    i{
        display:inline-block;
        font-size:30px;
        
    }
}

.w_login_all{
    width:347px;
    // height:589px;
    // background-color:plum;
    margin:0 14px;
}

.w_login_all_title{
    font-size:42px;
    font-weight:900;
    p{
        margin-top:0;
        margin-bottom:0;
    }
}

.w_login_all_email,.w_login_all_password{
    input{
        border:0;
        width:300px;
        height:30px;   
        margin-top:55px;
        border-left:10px solid #e1e1e1;
        border-bottom:1px solid #e1e1e1;
        padding-left:24px;
        font-size:20px;

    }
    input:hover{
        border-left:10px solid #000000;
        border-bottom:1px solid #000000;
    }
}



.w_login_all_foget{
    margin-top:120px;
    text-align:right;
    margin-right: 5px;
}

.w_login_all_button{
    justify-content:space-between;
    margin-top:24px;
    button{
        font-size:28px;
        font-weight:bold;
        color:#ffffff;
        border:0;
        width:170px;
        height:60px;
        background-color:#000000;

    }
}

.w_door_appear{
    visibility:visible;
}

}